<div class='country'>
  <img class='country__image' src='{{flag}}' alt='{{name}}' height='240' />
  <h2 class='country__name'>{{name}}</h2>
</div>
<div>
  <ul>
    <li class='country__description'><b>Capital:</b> {{capital}}</li>
    <li class='country__description'><b>Population:</b> {{population}}</li>
    <li class='country__description'><b>Languages:</b>
      {{#each languages}}{{this.name}}
      {{/each}}
    </li>
  </ul>
</div>